<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memerr</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>

  <body>
    <div class="HomePage">
      <!-- Memerr Logo -->
      <div class="Logo-Box" style="width: 100px; height: 100px; left: 75px; top: 75px; position: absolute; background: #4c6ce0"></div>
      <div class="M" style="width: 71px; height: 86px; left: 90px; top: 80px; position: absolute; color: white; font-size: 75px; font-family: Inter; font-weight: 700; word-wrap: break-word">M</div>

    <!-- Search Form -->
    <form action="/search" method="get">
      <div class="search-bar">
        <input type="text" id="search-bar" name="query" placeholder="Search..." />
        <button type="submit" id="search-button"></button>
      </div>
    </form>

      <!-- Profile Pic & Upload Button -->
      <div class="profile-container">
        <button onclick="redirectToUserPage()" style="border: None; padding: 0; background: none; cursor: pointer;">
          <img class="ProfilePic" src="https://memerr-profile-pictures.s3.amazonaws.com/memerr-default-pfp.png" />
        </button>
        <button id="post-button" class="post-button">Post</button>
      </div>

      <!-- Post Modal -->
      <div id="upload-modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <form id="postForm">
            <h2>Please provide the following information</h2>
            <input type="text" id="title" name="title" placeholder="Title" />
            <input type="text" id="description" name="description" placeholder="Description" />
            <input type="text" id="tags" name="tags" placeholder="Tags (Optional)" />
            <input type="file" id="image" name="image" placeholder="Attach Image" />
            <input type="button" id="uploadBtn" value="Upload" />
          </form>
        </div>
      </div>

      <!-- SFW Toggle Button -->
      <div class="toggle-button">
        <input type="checkbox" id="toggle" name="toggle" />
        <label for="toggle"></label>
      </div>
      <div class="SfwOn" style="left: 895px; top: 176px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 600; word-wrap: break-word">SFW Toggle</div>

      <!-- Categories Dropdown -->
      <div class="dropdown">
        <select id="dropdown-menu" name="dropdown-menu">
          <option value="All">All</option>
          <option value="Dank-Memes">Dank Memes</option>
          <option value="Wholesome-Memes">Wholesome Memes</option>
          <option value="Silly-Memes">Silly Memes</option>
          <option value="Surreal-Memes">Surreal Memes</option>
        </select>
      </div>

      <!-- Side Menu -->
      <div class="side-legend">
        <button class="side-legend-button-1"><img src="static/assets/home-icon.png" alt="Home Icon" /> Home</button>
        <button class="side-legend-button-2"><img src="static/assets/trending-icon.png" alt="Trending Icon" /> Trending</button>
        <button class="side-legend-button-3"><img src="static/assets/down-triangle-icon.png" alt="Following Icon" /> Following</button>
      </div>


      <!-- Legendary Meme Gallery -->
      <div class="gallery">
        {% for meme in memes_data %}
        <div class="meme-item">
          <!-- <h2 class="meme-title">{{ meme.caption }}</h2> -->
          <img class="photo" src="{{ meme.bucket_image_source }}" />
          <div class="gallery-item-description"><strong>Description:</strong> <span>{{ meme.description }}</span></div>
          <div class="gallery-item-tags">
            <strong>Tags:</strong>
            {% for tag in meme.categories %}
            <span class="tag">{{ tag }}</span>
            {% endfor %}
          </div>

          <p class="label">Ratings:</p>
          <div class="ratings-container">
            <div class="rating-category">
              <span class="rating-label">Humor</span>
              <div class="rating-value humor">{{ meme.humor_rating }}</div>
            </div>
            <div class="rating-category">
              <span class="rating-label">Originality</span>
              <div class="rating-value originality">{{ meme.originality_rating }}</div>
            </div>
            <div class="rating-category">
              <span class="rating-label">Relatability</span>
              <div class="rating-value reliability">{{ meme.relatability_rating }}</div>
            </div>
          </div>
          <!-- <button class="rate-meme-button">Rate this meme</button> -->
          
          <div class="rating-section">
            <button name='savememe' class="rate-meme-button" data-meme-id="{{ meme.meme_id }}" onclick="submitSave('{{ meme.meme_id }}')">Save this meme</button>
            <button name='ratememe' class="rate-meme-button" data-meme-id="{{ meme.meme_id }}" onclick="toggleRatingsVisibility(this)">Rate this meme</button>
            <div class="ratings-container" style="display: none;" data-meme-id="{{ meme.meme_id }}">
                <label for="humor-rating">Humor:</label>
                <input type="number" class="humor-rating" name="humor-rating" min="1" max="5">
    
                <label for="originality-rating">Originality:</label>
                <input type="number" class="originality-rating" name="originality-rating" min="1" max="5">
    
                <label for="reliability-rating">Reliability:</label>
                <input type="number" class="reliability-rating" name="reliability-rating" min="1" max="5">
    
                <button class="rate-meme-button" onclick="submitRating('{{ meme.meme_id }}')">Submit</button>
          </div>
        </div>
      </div> 
        {% endfor %}
      </div>
  </body> 

  </body>
  <script>

    var modal = document.getElementById('upload-modal');
    var btn = document.getElementById('post-button');
    var span = document.getElementsByClassName('close')[0];
    var form = document.getElementById('postForm');
    var uploadBtn = document.getElementById('uploadBtn');

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
    modal.style.display = 'block';
    };

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
    modal.style.display = 'none';
    form.reset(); // Clear the form
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
    if (event.target == modal) {
    modal.style.display = 'none';
    form.reset(); // Clear the form
    }
    };

    function generateUniqueKey(fileName) 
    {
    // Generate a timestamp string
    var date = new Date();
    var timeStamp = date.getTime();

    // Generate a random number and convert it to a string
    var randomString = Math.random().toString(36).substring(2, 15);

    // Combine both with an underscore separator
    var uniqueKey = timeStamp + '_' + randomString + '_';

    // Append the original filename
    uniqueKey += fileName;

    return uniqueKey;
    }

// const uploadBtn = document.getElementById('uploadBtn');
  uploadBtn.addEventListener('click', handleUpload);

  function handleUpload(){
    const title = document.getElementById('title').value;
    const description = document.getElementById('description').value;
    const tags = document.getElementById('tags').value;
    const image = document.getElementById('image').files[0];

    const formData = new FormData();
    formData.append('title', title);
    formData.append('description', description);
    formData.append('tags', tags);
    formData.append('image', image);

    fetch('/upload', {
      method: 'POST',
      body: formData,
    })
      .then(response => response.json())
      .then(data => {
        // Redirect to a new page or handle the response as needed
        console.log('Response from server:', data);
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }

<!--------------------------------------------- SEARCH FUNCTIONALITY -------------------------------------------->

// const searchButton = document.getElementById('search-button');
// const searchBar = document.getElementById('search-bar');
const gallery = document.getElementById('gallery');


// 
// document.getElementById("search-button").addEventListener("click", function() {
//     var searchTerm = document.getElementById("search-bar").value;
//     searchImages(searchTerm);
// });

// function searchImages(searchTerm) {
// fetch(`/search?query=${encodeURIComponent(searchTerm)}`)
//     .then(response => response.json())
//     .then(data => {
//         // Update the gallery with the new image paths
//         updateGallery(data.image_paths);
//     })
//     .catch(error => {
//         console.error('Error fetching images:', error);
//     });
// }

// Assuming you adjust your updateGallery function to handle image paths
function updateGallery(imagePaths) {
var gallery = document.querySelector(".gallery");
gallery.innerHTML = ""; // Clear existing content

imagePaths.forEach(function(imagePath) {
    var memeItem = document.createElement("div");
    memeItem.className = "meme-item";

    var img = document.createElement("img");
    img.className = "photo";
    img.src = imagePath;

    memeItem.appendChild(img);
    gallery.appendChild(memeItem);
});
}

function redirectToUserPage() {
  // Make an HTTP request to the Flask backend
  fetch('/user')
      .then(response => {
        
        if (response.ok) {
            return window.location.href = '/user';
          }
        
        response.json()
      }) // Parse the JSON response
      .then(data => {
          // Check if the request was successful
          console.log(data);
      })
      .catch(error => {
          console.error('Error:', error);
      });
}
function toggleRatingsVisibility(button) {
      const memeId = button.getAttribute('data-meme-id');
      // Iterate over each input and clear its value
      ['humor-rating', 'originality-rating', 'reliability-rating'].forEach(ratingType => {
        const ratingInput = document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .${ratingType}`);
        
        if (ratingInput !== null) {
          ratingInput.value = '';
        } else {
        console.error(`Rating input not found for ${ratingType}`);
    }
      });

      const ratingsContainer = document.querySelector(`.ratings-container[data-meme-id="${memeId}"]`);
      ratingsContainer.style.display = ratingsContainer.style.display === 'none' ? 'block' : 'none';
      return;
    }

    function submitRating(memeId) {
      const humorRatingInput = document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .humor-rating`);
      humorRating = '';
      if (humorRatingInput !== null){
        humorRating = document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .humor-rating`).value;
      }

      const originalityRatingInput = document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .originality-rating`);
      originalityRating = '';
      if (originalityRatingInput !== null){
        originalityRating = document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .originality-rating`).value;
      }

      const reliabilityRatingInput = document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .reliability-rating`);
      reliabilityRating = '';
      if (reliabilityRatingInput !== null){
        reliabilityRating = document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .reliability-rating`).value;
      }

      // Check if all values are entered
      if(humorRating === '' || originalityRating === '' || reliabilityRating === ''){
        toggleRatingsVisibility(document.querySelector(`.rate-meme-button[data-meme-id="${memeId}"]`));
        alert("Please enter all the rating field values");
        return
      }

      // Check if values are integers between 1 and 5
      if (!isIntegerBetween(humorRating, 1, 5) || !isIntegerBetween(originalityRating, 1, 5) || !isIntegerBetween(reliabilityRating, 1, 5)) {
        toggleRatingsVisibility(document.querySelector(`.rate-meme-button[data-meme-id="${memeId}"]`));  
        alert("Ratings must be integers between 1 and 5");
          return;
      }

      // You can send these ratings to the server or perform any other actions
      console.log(`Meme ID: ${memeId}`);
      console.log('Humor Rating:', humorRating);
      console.log('Originality Rating:', originalityRating);
      console.log('Reliability Rating:', reliabilityRating);

      // Clear the input values
      document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .humor-rating`).value = '';
      document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .originality-rating`).value = '';
      document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .reliability-rating`).value = '';

      // Toggle visibility after submitting
      toggleRatingsVisibility(document.querySelector(`.rate-meme-button[data-meme-id="${memeId}"]`));
    }

    function submitSave(memeId) {
        // Add logic to handle the saving of memes
        console.log('Saving the meme...');
    }

    // Helper function to check if a value is an integer between min and max (inclusive)
    function isIntegerBetween(value, min, max) {
        return Number.isInteger(Number(value)) && value >= min && value <= max;
    }
  </script>
</html>