<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Webpage Title</title>
    <link rel="stylesheet" href="static/user-styles.css" />
</head>
<body>
    <div class="container">
      <div style="width: 100%; height: 100%; position: relative; background: white">
        <!-- Memerr Logo -->
        <div class="Logo-Box" style="width: 100px; height: 100px; left: 75px; top: 75px; position: absolute; background: #4c6ce0"></div>
        <div class="M" style="width: 71px; height: 86px; left: 90px; top: 80px; position: absolute; color: white; font-size: 75px; font-family: Inter; font-weight: 700; word-wrap: break-word">M</div>
        
        <!-- User profile picture-->
        # TODO: Use cached profile picture information
        <img style="width: 106px; height: 109px; left: 310px; top: 71px; position: absolute" src="https://memerr-profile-pictures.s3.amazonaws.com/memerr-default-pfp.png" />
        
        <div style="width: 167px; height: 43px; left: 310px; top: 239px; position: absolute; background: rgba(76, 108, 224, 0.50); border: 1px black solid"></div>
        <div style="width: 167px; height: 43px; left: 477px; top: 239px; position: absolute; background: rgba(217, 217, 217, 0.50); border: 1px black solid"></div>
        <div style="width: 167px; height: 43px; left: 644px; top: 239px; position: absolute; background: rgba(217, 217, 217, 0.50); border: 1px black solid"></div>
        
        <div style="left: 324px; top: 243px; position: absolute; color: black; font-size: 28px; font-family: Inter; font-weight: 700; word-wrap: break-word">Ratings</div>
        <!-- <div style="left: 490px; top: 243px; position: absolute; color: black; font-size: 28px; font-family: Inter; font-weight: 700; word-wrap: break-word">Posts</div> -->
        <button style="left: 490px; top: 243px; position: absolute; color: black; font-size: 28px; font-family: Inter; font-weight: 700; word-wrap: break-word; border: None; padding: 0; background: none; cursor: pointer;" onclick="redirectToPostedPage()">Posts</button>
        <button style="left: 660px; top: 243px; position: absolute; color: black; font-size: 28px; font-family: Inter; font-weight: 700; word-wrap: break-word; border: None; padding: 0; background: none; cursor: pointer;" onclick="redirectToSavedPage()">Saved</button>
        
        <!-- Side Menu -->
        <div class="side-legend">
          <button class="side-legend-button-1" style="cursor: pointer;" onclick="redirectToHomePage()"><img src="static/assets/home-icon.png" alt="Home Icon" /> Home</button>
          <button class="side-legend-button-2"><img src="static/assets/trending-icon.png" alt="Trending Icon" /> Trending</button>
          <button class="side-legend-button-3"><img src="static/assets/down-triangle-icon.png" alt="Following Icon" /> Following</button>
        </div>

        <img style="width: 35px; height: 35px; left: 461px; top: 131px; position: absolute" src="static/assets/notif.jpg" />

        <!-- Legendary Meme Gallery -->
      <div class="gallery">
        {% for meme in memes_data %}
        <div class="meme-item">
          <!-- <h2 class="meme-title">{{ meme.caption }}</h2> -->
          <img class="photo" src="{{ meme.bucket_image_source }}" />
          <div class="gallery-item-description"><strong>Description:</strong> <span>{{ meme.description }}</span></div>
          <div class="gallery-item-tags">
            <strong>Tags:</strong>
            {% for tag in meme.categories %}
            <span class="tag">{{ tag }}</span>
            {% endfor %}
          </div>

          <p class="label">Ratings:</p>
          <div class="ratings-container">
            <div class="rating-category">
              <span class="rating-label">Humor</span>
              <div class="rating-value humor">{{ meme.humor_rating }}</div>
            </div>
            <div class="rating-category">
              <span class="rating-label">Originality</span>
              <div class="rating-value originality">{{ meme.originality_rating }}</div>
            </div>
            <div class="rating-category">
              <span class="rating-label">Relatability</span>
              <div class="rating-value reliability">{{ meme.relatability_rating }}</div>
            </div>
          </div>
          <!-- <button class="rate-meme-button">Rate this meme</button> -->
          
          <div class="rating-section">
            <button name='savememe' class="rate-meme-button" data-meme-id="{{ meme.meme_id }}" onclick="submitSave('{{ meme.meme_id }}')">Save this meme</button>
            <button name='ratememe' class="rate-meme-button" data-meme-id="{{ meme.meme_id }}" onclick="toggleRatingsVisibility(this)">Rate this meme</button>
            <div class="ratings-container" style="display: none;" data-meme-id="{{ meme.meme_id }}">
                <label for="humor-rating">Humor:</label>
                <input type="number" class="humor-rating" name="humor-rating" min="1" max="5">
    
                <label for="originality-rating">Originality:</label>
                <input type="number" class="originality-rating" name="originality-rating" min="1" max="5">
    
                <label for="reliability-rating">Reliability:</label>
                <input type="number" class="reliability-rating" name="reliability-rating" min="1" max="5">
    
                <button class="rate-meme-button" onclick="submitRating('{{ meme.meme_id }}')">Submit</button>
          </div>
        </div>
      </div> 
        {% endfor %}
      </div>
        
    </div>

    <script>
    function redirectToHomePage() {
      // Make an HTTP request to the Flask backend
      fetch('/')
          .then(response => {
            
            if (response.ok) {
                return window.location.href = '/';
              }
            
            response.json()
          }) // Parse the JSON response
          .then(data => {
              // Check if the request was successful
              console.log(data);
          })
          .catch(error => {
              console.error('Error:', error);
          });
    }

    function redirectToPostedPage() {
      // Make an HTTP request to the Flask backend
      fetch('/user/posted')
          .then(response => {
            
            if (response.ok) {
                return window.location.href = '/user/posted';
              }
            
            response.json()
          }) // Parse the JSON response
          .then(data => {
              // Check if the request was successful
              console.log(data);
          })
          .catch(error => {
              console.error('Error:', error);
          });
    }

    function redirectToSavedPage() {
      // Make an HTTP request to the Flask backend
      fetch('/user/saved')
          .then(response => {
            
            if (response.ok) {
                return window.location.href = '/user/saved';
              }
            
            response.json()
          }) // Parse the JSON response
          .then(data => {
              // Check if the request was successful
              console.log(data);
          })
          .catch(error => {
              console.error('Error:', error);
          });
    }

    function toggleRatingsVisibility(button) {
      const memeId = button.getAttribute('data-meme-id');
      // Iterate over each input and clear its value
      ['humor-rating', 'originality-rating', 'reliability-rating'].forEach(ratingType => {
        const ratingInput = document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .${ratingType}`);
        
        if (ratingInput !== null) {
          ratingInput.value = '';
        } else {
        console.error(`Rating input not found for ${ratingType}`);
    }
      });

      const ratingsContainer = document.querySelector(`.ratings-container[data-meme-id="${memeId}"]`);
      ratingsContainer.style.display = ratingsContainer.style.display === 'none' ? 'block' : 'none';
      return;
    }

    function submitRating(memeId) {
      const humorRatingInput = document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .humor-rating`);
      humorRating = '';
      if (humorRatingInput !== null){
        humorRating = document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .humor-rating`).value;
      }

      const originalityRatingInput = document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .originality-rating`);
      originalityRating = '';
      if (originalityRatingInput !== null){
        originalityRating = document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .originality-rating`).value;
      }

      const reliabilityRatingInput = document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .reliability-rating`);
      reliabilityRating = '';
      if (reliabilityRatingInput !== null){
        reliabilityRating = document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .reliability-rating`).value;
      }

      // Check if all values are entered
      if(humorRating === '' || originalityRating === '' || reliabilityRating === ''){
        toggleRatingsVisibility(document.querySelector(`.rate-meme-button[data-meme-id="${memeId}"]`));
        alert("Please enter all the rating field values");
        return
      }

      // Check if values are integers between 1 and 5
      if (!isIntegerBetween(humorRating, 1, 5) || !isIntegerBetween(originalityRating, 1, 5) || !isIntegerBetween(reliabilityRating, 1, 5)) {
        toggleRatingsVisibility(document.querySelector(`.rate-meme-button[data-meme-id="${memeId}"]`));  
        alert("Ratings must be integers between 1 and 5");
          return;
      }

      // You can send these ratings to the server or perform any other actions
      console.log(`Meme ID: ${memeId}`);
      console.log('Humor Rating:', humorRating);
      console.log('Originality Rating:', originalityRating);
      console.log('Reliability Rating:', reliabilityRating);

      // Clear the input values
      document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .humor-rating`).value = '';
      document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .originality-rating`).value = '';
      document.querySelector(`.ratings-container[data-meme-id="${memeId}"] .reliability-rating`).value = '';

      // Toggle visibility after submitting
      toggleRatingsVisibility(document.querySelector(`.rate-meme-button[data-meme-id="${memeId}"]`));
    }

    function submitSave(memeId) {
        // Add logic to handle the saving of memes
        console.log('Saving the meme...');
    }

    // Helper function to check if a value is an integer between min and max (inclusive)
    function isIntegerBetween(value, min, max) {
        return Number.isInteger(Number(value)) && value >= min && value <= max;
    }
    </script>
</body>
</html>

