<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Webpage Title</title>
    <link rel="stylesheet" href="../static/user-styles.css" />
</head>
<body>
    <div class="container">
      <div style="width: 100%; height: 100%; position: relative; background: white">
        <!-- Memerr Logo -->
        <div class="Logo-Box" style="width: 100px; height: 100px; left: 75px; top: 75px; position: absolute; background: #4c6ce0"></div>
        <div class="M" style="width: 71px; height: 86px; left: 90px; top: 80px; position: absolute; color: white; font-size: 75px; font-family: Inter; font-weight: 700; word-wrap: break-word">M</div>
        
        <!-- User profile picture-->
        <img style="width: 106px; height: 109px; left: 310px; top: 71px; position: absolute" src="https://memerr-profile-pictures.s3.amazonaws.com/memerr-default-pfp.png" />
        
        <div style="width: 167px; height: 43px; left: 310px; top: 239px; position: absolute; background: rgba(76, 108, 224, 0.50); border: 1px black solid"></div>
        <div style="width: 167px; height: 43px; left: 477px; top: 239px; position: absolute; background: rgba(217, 217, 217, 0.50); border: 1px black solid"></div>
        <div style="width: 167px; height: 43px; left: 644px; top: 239px; position: absolute; background: rgba(217, 217, 217, 0.50); border: 1px black solid"></div>
        
        <div style="left: 324px; top: 243px; position: absolute; color: black; font-size: 28px; font-family: Inter; font-weight: 700; word-wrap: break-word">Ratings</div>
        <div style="left: 490px; top: 243px; position: absolute; color: black; font-size: 28px; font-family: Inter; font-weight: 700; word-wrap: break-word">Posts</div>
        <div style="left: 660px; top: 243px; position: absolute; color: black; font-size: 28px; font-family: Inter; font-weight: 700; word-wrap: break-word">Saved</div>
        
        <!-- Side Menu -->
        <div class="side-legend">
          <button class="side-legend-button-1"><img src="static/assets/home-icon.png" alt="Home Icon" /> Home</button>
          <button class="side-legend-button-2"><img src="static/assets/trending-icon.png" alt="Trending Icon" /> Trending</button>
          <button class="side-legend-button-3"><img src="static/assets/down-triangle-icon.png" alt="Following Icon" /> Following</button>
        </div>

        <div style="width: 48px; height: 17px; left: 318px; top: 612px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Humor</div>
        <div style="width: 73px; height: 17px; left: 395px; top: 612px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Originality</div>
        <div style="width: 70px; height: 17px; left: 497px; top: 612px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Reliability</div>
        <div style="width: 269px; height: 21px; left: 310px; top: 557px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Tags: </div>
        <div style="width: 269px; height: 21px; left: 310px; top: 588px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Ratings: </div>
        <div style="width: 269px; height: 45px; left: 310px; top: 506px; position: absolute"><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Description: </span><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Do video gamers ever cry? OH, YES WE DO!!!</span><span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word"> </span></div>
        <div style="width: 207px; height: 28px; left: 310px; top: 310px; position: absolute; color: black; font-size: 22px; font-family: Inter; font-weight: 600; word-wrap: break-word">Gaming Humanly??</div>
        <div style="width: 91px; height: 19px; left: 359px; top: 557px; position: absolute; background: rgba(76, 108, 224, 0.50); border-radius: 20px"></div>
        <div style="width: 85px; height: 17px; left: 363px; top: 557px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">videogames</div>
        <div style="width: 63px; height: 19px; left: 454px; top: 557px; position: absolute; background: rgba(76, 108, 224, 0.50); border-radius: 20px"></div>
        <div style="width: 57px; height: 17px; left: 460px; top: 557px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">gaming</div>
        <div style="width: 43px; height: 19px; left: 320px; top: 632px; position: absolute; background: rgba(76, 108, 224, 0.80); border-radius: 20px"></div>
        <div style="width: 43px; height: 19px; left: 409px; top: 632px; position: absolute; background: rgba(76, 108, 224, 0.80); border-radius: 20px"></div>
        <div style="left: 379px; top: 672px; position: absolute; color: white; font-size: 14px; font-family: Inter; font-weight: 800; word-wrap: break-word">Rate this meme</div>
        <div style="width: 39px; height: 19px; left: 512px; top: 631px; position: absolute; background: rgba(76, 108, 224, 0.80); border-radius: 20px"></div>
        <div style="width: 34px; height: 17px; left: 325px; top: 632px; position: absolute; color: white; font-size: 14px; font-family: Inter; font-style: italic; font-weight: 800; word-wrap: break-word">4.00</div>
        <div style="width: 34px; height: 18px; left: 414px; top: 632px; position: absolute; color: white; font-size: 14px; font-family: Inter; font-style: italic; font-weight: 800; word-wrap: break-word">4.00</div>
        <div style="width: 35px; height: 17px; left: 514px; top: 632px; position: absolute; color: white; font-size: 14px; font-family: Inter; font-style: italic; font-weight: 800; word-wrap: break-word">4.00</div>
        <img style="width: 244px; height: 161px; left: 310px; top: 341px; position: absolute" src="https://via.placeholder.com/244x161" />
        <img style="width: 46px; height: 44px; left: 461px; top: 131px; position: absolute" src="https://via.placeholder.com/46x44" />
        
        
    
      </div>
        
    </div>
</body>
</html>
